header {
  padding: 35px;
  text-align: center;
  background-color:#fffacd;
  color:#cd5c5c;
}

.chapter {
  text-align: center;
  color: #fffacd;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color: #cd5c5c;
  font-family: "Arvo", serif;
}

nav {
  max-width: 100%;
  margin: 0 auto;
  background-color: #7fff00;
}

ul {
  padding: 5px;
  text-align: center;
}

li:hover {
  background-color:#fffacd;
  list-style-type: none;
  color:#f5fffa;
  display: inline-block;
  margin: 0 10px;
  padding: 5px 10px;
} 

a {
  color:#cd5c5c;
}

footer {
  text-align: center;
  color: #7fff00;
}

img {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  opacity: 70%;
}

video {
  display: block;
  max-width: 100%;
  margin: 0;
  opacity: 50%;
}

form{
  background-color: #f9f7f1;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 75%;
  margin: 0 auto;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input[type="text"],
    input[type="email"],
    select {
        width: 100%;
        margin: 0 auto;
        padding: 8px;
        margin-top: 5px;
        font-size: 1rem;
        border: 1px solid #aaa;
        border-radius: 5px;
        box-sizing: border-box;
    }

button {
  margin-top: 20px;
  background-color: #5a3e36;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
    
button:hover {
  background-color: #7a564f;
}

h2 {
  text-align: center;
}

table {
  width: 78%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 4px;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #5a3e36;
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  row-gap: 10px;
  column-gap: 10px;
}

div img {
  width: 30%;
  height: auto;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

#gallery img {
  width: 30%;
  height: auto;
  border-radius: 30%;
}




@media (max-width:600px) {
  body {
    font-size: 16px;
    padding: 10px;
  }
  li {
    display: block;
    margin: 10px 0;
  }
  nav {
    text-align: center;
  }
  header, .chapter, footer {
    padding: 10px;
  }
}