body {
    background-color: black;
    color:azure;
    font-family:fantasy;
    text-align: center;
}

h1 {
    color:blueviolet;
}

button {
    padding: 10 px;
    margin: 10px;
    border-radius: 5px;
    color:azure;
    background-color:blueviolet;
    justify-content: center;
}

button:hover {
    background-color:cornflowerblue;
}

img {
    width: 100%;
}
